*{
    margin:0;
}
.container{
    margin: 0;
}
.header{
    padding: 10px;
    background-color: palegoldenrod;
    display: flex;
    justify-content: space-between;

}
.productBlock{
    background-color: rgb(247, 208, 157);
}
.row{
    display: flex;
    justify-content: center;
}
.box{
    background-color: white;
    margin: 10px;
    border-radius: 20px ;
    padding: 10px;
}

.cartBlock{
    background-color: aliceblue;
    width: 400px;
    position: fixed;
    top: 0px;
    left: 70%;
    height: 100%;
    padding: 20px;
    transition: .5s;
}
.login{
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
    margin: 400px;
}

.login input,button{
    margin: 15px;
    padding: 8px;
    border-radius: 8px;
}
.register{
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
    margin: 400px;
}

.register input,button{
    margin: 15px;
    padding: 8px;
    border-radius: 8px;
}

